body{
    margin:0;
    padding:0;
    background:#222;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    height:100vh;
}

.logo{
    color:white;
    font-size:32px;
    font-weight:bold;
    margin-bottom:20px;
}

.board{
    width:480px;
    height:480px;
    display:grid;
    grid-template-columns:repeat(8,1fr);
    border:10px solid #444;
}

.board div{
    width:60px;
    height:60px;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:35px;
}

.white{
    background:#f0d9b5;
}

.black{
    background:#b58863;
}